.mediaViewInfo {
	--web-view-name: home;
	--web-view-id: home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: home;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#home {
	position: absolute;
	width: 2740px;
	height: 2255px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: home;
	--web-view-id: home;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_134_gc {
	fill: rgba(244,220,214,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_134_gc {
	overflow: visible;
	position: absolute;
	width: 2804.018px;
	height: 2328.819px;
	left: 0px;
	top: -39.018px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_73_gd {
	position: absolute;
	width: 2649.762px;
	height: 1869.809px;
	left: 49.41px;
	top: 91.595px;
	overflow: visible;
}
#Rectangle_18_ge {
	fill: rgba(222,220,220,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18_ge {
	position: absolute;
	overflow: visible;
	width: 2588.73px;
	height: 1869.809px;
	left: 61.031px;
	top: 0px;
}
#Path_168_gf {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_168_gf {
	overflow: visible;
	position: absolute;
	width: 2593.871px;
	height: 1756.674px;
	left: -0.002px;
	top: 56.567px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_54_gg {
	position: absolute;
	width: 126px;
	height: 101px;
	left: 55.76px;
	top: 115px;
	overflow: visible;
}
#Rectangle_21_gh {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21_gh {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 101px;
	left: 0px;
	top: 0px;
}
#Group_53_gi {
	position: absolute;
	width: 66.159px;
	height: 80.259px;
	left: 29.92px;
	top: 10.269px;
	overflow: visible;
}
#Line_1_gj {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_gj {
	overflow: visible;
	position: absolute;
	width: 70.018px;
	height: 83.439px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_gk {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_gk {
	overflow: visible;
	position: absolute;
	width: 70.018px;
	height: 83.439px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_22_gl {
	fill: rgba(215,118,103,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22_gl {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 546.648px;
	height: 118.793px;
	left: 191.65px;
	top: 115.192px;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: fresh_main.html;
	cursor: pointer;
}
#Path_170_gm {
	fill: rgba(199,187,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_170_gm {
	overflow: visible;
	position: absolute;
	width: 529.676px;
	height: 100.793px;
	left: 1870.16px;
	top: 115.192px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_173 {
	fill: rgba(87,146,172,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_173 {
	overflow: visible;
	position: absolute;
	width: 528.648px;
	height: 100.793px;
	left: 1310.656px;
	top: 115.192px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_172 {
	fill: rgba(82,120,98,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_172 {
	overflow: visible;
	position: absolute;
	width: 528.648px;
	height: 100.793px;
	left: 751.154px;
	top: 115.192px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_20_gp {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 7px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20_gp {
	position: absolute;
	overflow: visible;
	width: 2571.244px;
	height: 168.674px;
	left: 2.406px;
	top: 81.251px;
}
#Group_55_gq {
	position: absolute;
	width: 128px;
	height: 26px;
	left: 2431.76px;
	top: 149px;
	overflow: visible;
}
#Ellipse_1_gr {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_gr {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_gs {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_gs {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 51px;
	top: 0px;
}
#Ellipse_3_gt {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_gt {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 102px;
	top: 0px;
}
#freshmancom_gu {
	left: 225.59px;
	top: 120.405px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#seniorcom_gv {
	left: 1977.59px;
	top: 119.405px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: srm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#juniorcom_gw {
	left: 1416.59px;
	top: 123.405px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: jm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#sophomorecom_gx {
	left: 782.59px;
	top: 123.405px;
	position: absolute;
	overflow: visible;
	width: 465px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#Group_75 {
	position: absolute;
	width: 1057px;
	height: 521px;
	left: 185px;
	top: 504px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: fresh_main.html;
	cursor: pointer;
}
#Group_79 {
	position: absolute;
	width: 1057px;
	height: 521px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#main_page_freshman {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.main_page_freshman {
	position: absolute;
	overflow: visible;
	width: 1057px;
	height: 521px;
	left: 0px;
	top: 0px;
}
#Group_61 {
	position: absolute;
	width: 148px;
	height: 30px;
	left: 852px;
	top: 50px;
	overflow: visible;
}
#Ellipse_1_g {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_g {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_g {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_g {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 59px;
	top: 0px;
}
#Ellipse_3_g {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_g {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 30px;
	left: 119px;
	top: 0px;
}
#freshman {
	left: 107px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 853px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	color: rgba(112,112,112,1);
}
#Group_76 {
	position: absolute;
	width: 1058px;
	height: 521px;
	left: 1346px;
	top: 504px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sm.html;
	cursor: pointer;
}
#main_page_sophmore {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.main_page_sophmore {
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 521px;
	left: 0px;
	top: 0px;
}
#Group_62_g {
	position: absolute;
	width: 149px;
	height: 30px;
	left: 852px;
	top: 50px;
	overflow: visible;
}
#Ellipse_1_ha {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_ha {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_ha {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_ha {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 30px;
	left: 60px;
	top: 0px;
}
#Ellipse_3_hb {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_hb {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 119px;
	top: 0px;
}
#sophomore {
	left: 107px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 853px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	color: rgba(112,112,112,1);
}
#Group_77 {
	position: absolute;
	width: 1058px;
	height: 521px;
	left: 1346px;
	top: 1231px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: srm.html;
	cursor: pointer;
}
#Rectangle_29_he {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29_he {
	position: absolute;
	overflow: visible;
	width: 1058px;
	height: 521px;
	left: 0px;
	top: 0px;
}
#Group_62_hf {
	position: absolute;
	width: 149px;
	height: 30px;
	left: 852px;
	top: 50px;
	overflow: visible;
}
#Ellipse_1_hg {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_hg {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_hh {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_hh {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 30px;
	left: 60px;
	top: 0px;
}
#Ellipse_3_hi {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_hi {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 119px;
	top: 0px;
}
#senior {
	left: 107px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 853px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	color: rgba(112,112,112,1);
}
#Group_78 {
	position: absolute;
	width: 1057px;
	height: 521px;
	left: 185px;
	top: 1231px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: jm.html;
	cursor: pointer;
}
#Rectangle_29_hl {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29_hl {
	position: absolute;
	overflow: visible;
	width: 1057px;
	height: 521px;
	left: 0px;
	top: 0px;
}
#Group_62_hm {
	position: absolute;
	width: 148px;
	height: 30px;
	left: 852px;
	top: 50px;
	overflow: visible;
}
#Ellipse_1_hn {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_hn {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_ho {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_ho {
	position: absolute;
	overflow: visible;
	width: 30px;
	height: 30px;
	left: 59px;
	top: 0px;
}
#Ellipse_3_hp {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_hp {
	position: absolute;
	overflow: visible;
	width: 29px;
	height: 30px;
	left: 119px;
	top: 0px;
}
#junior {
	left: 107px;
	top: 152px;
	position: absolute;
	overflow: visible;
	width: 853px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 150px;
	color: rgba(112,112,112,1);
}