.mediaViewInfo {
	--web-view-name: senior 3;
	--web-view-id: senior_3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: senior_3;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#senior_3 {
	position: absolute;
	width: 2740px;
	height: 2255px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: senior 3;
	--web-view-id: senior_3;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_134_wz {
	fill: rgba(199,187,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_134_wz {
	overflow: visible;
	position: absolute;
	width: 2860.241px;
	height: 2328.818px;
	left: 0px;
	top: -39.018px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_73_w {
	position: absolute;
	width: 2649.762px;
	height: 1869.809px;
	left: 49.408px;
	top: 91.596px;
	overflow: visible;
}
#Rectangle_18_w {
	fill: rgba(222,220,220,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18_w {
	position: absolute;
	overflow: visible;
	width: 2588.729px;
	height: 1869.81px;
	left: 61.033px;
	top: 0px;
}
#Path_168_w {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_168_w {
	overflow: visible;
	position: absolute;
	width: 2593.872px;
	height: 1756.675px;
	left: 0px;
	top: 56.566px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_54_w {
	position: absolute;
	width: 126px;
	height: 101px;
	left: 55.762px;
	top: 115px;
	overflow: visible;
}
#Rectangle_21_w {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21_w {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 101px;
	left: 0px;
	top: -0.001px;
}
#Group_53_w {
	position: absolute;
	width: 66.159px;
	height: 80.259px;
	left: 29.92px;
	top: 10.268px;
	overflow: visible;
}
#Line_1_w {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_w {
	overflow: visible;
	position: absolute;
	width: 70.017px;
	height: 83.438px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_w {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_w {
	overflow: visible;
	position: absolute;
	width: 70.017px;
	height: 83.438px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_22_w {
	fill: rgba(215,118,103,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22_w {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 546.648px;
	height: 118.793px;
	left: 191.652px;
	top: 115.191px;
}
#Path_170_w {
	fill: rgba(199,187,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_170_w {
	overflow: visible;
	position: absolute;
	width: 529.677px;
	height: 100.793px;
	left: 1870.161px;
	top: 115.191px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_24_xa {
	fill: rgba(87,146,172,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24_xa {
	position: absolute;
	overflow: visible;
	width: 528.648px;
	height: 100.793px;
	left: 1310.658px;
	top: 115.191px;
}
#Rectangle_25_xb {
	fill: rgba(82,120,98,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25_xb {
	position: absolute;
	overflow: visible;
	width: 528.647px;
	height: 100.793px;
	left: 751.155px;
	top: 115.191px;
}
#Rectangle_20_xc {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 7px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20_xc {
	position: absolute;
	overflow: visible;
	width: 2571.245px;
	height: 168.674px;
	left: 2.409px;
	top: 81.251px;
}
#Group_55_xd {
	position: absolute;
	width: 128px;
	height: 26px;
	left: 2431.762px;
	top: 149px;
	overflow: visible;
}
#Ellipse_1_xe {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_xe {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_xf {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_xf {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 51px;
	top: 0px;
}
#Ellipse_3_xg {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_xg {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 102px;
	top: 0px;
}
#Group_64_xh {
	position: absolute;
	width: 2274.009px;
	height: 1120.034px;
	left: 159.971px;
	top: 457.077px;
	overflow: visible;
}
#Rectangle_29_xi {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29_xi {
	position: absolute;
	overflow: visible;
	width: 2274.009px;
	height: 1120.034px;
	left: 0px;
	top: 0px;
}
#Group_62_xj {
	position: absolute;
	width: 320.891px;
	height: 64.795px;
	left: 1830.727px;
	top: 106.964px;
	overflow: visible;
}
#Ellipse_1_xk {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_xk {
	position: absolute;
	overflow: visible;
	width: 64.795px;
	height: 64.795px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_xl {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_xl {
	position: absolute;
	overflow: visible;
	width: 61.71px;
	height: 64.795px;
	left: 129.591px;
	top: 0px;
}
#Ellipse_3_xm {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_xm {
	position: absolute;
	overflow: visible;
	width: 64.795px;
	height: 64.795px;
	left: 256.096px;
	top: 0px;
}
#portray__be_a_role_model__show {
	left: 160.446px;
	top: 171.76px;
	position: absolute;
	overflow: visible;
	width: 1832px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(0,0,0,1);
}
#Group_71_xo {
	position: absolute;
	width: 104.907px;
	height: 129.591px;
	left: 2450.807px;
	top: 870.108px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: home_main.html;
	cursor: pointer;
}
#Group_69_xp {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 34.969px;
	top: 0px;
	overflow: visible;
}
#Path_169_xq {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_xq {
	overflow: visible;
	position: absolute;
	width: 73.479px;
	height: 76.456px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_xr {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_xr {
	overflow: visible;
	position: absolute;
	width: 80.219px;
	height: 76.747px;
	left: 0px;
	top: 63.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_70_xs {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_169_xt {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_xt {
	overflow: visible;
	position: absolute;
	width: 73.479px;
	height: 76.456px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_xu {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_xu {
	overflow: visible;
	position: absolute;
	width: 80.219px;
	height: 76.747px;
	left: 0px;
	top: 63.768px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_72_xv {
	transform: translate(-84.237px, -274px) matrix(1,0,0,1,110.7818,1143.2039) rotate(181deg);
	transform-origin: center;
	position: absolute;
	width: 104.907px;
	height: 129.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sr2.html;
	cursor: pointer;
}
#Group_69_xw {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 0px;
	top: 0.001px;
	overflow: visible;
}
#Path_169_xx {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_xx {
	overflow: visible;
	position: absolute;
	width: 74.803px;
	height: 77.727px;
	left: 7.353px;
	top: 63.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_xy {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_xy {
	overflow: visible;
	position: absolute;
	width: 81.546px;
	height: 78.136px;
	left: 1.113px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_70_xz {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 34.964px;
	top: 0.61px;
	overflow: visible;
}
#Path_169_x {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_x {
	overflow: visible;
	position: absolute;
	width: 74.803px;
	height: 77.727px;
	left: 7.353px;
	top: 63.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_x {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_x {
	overflow: visible;
	position: absolute;
	width: 81.546px;
	height: 78.136px;
	left: 1.113px;
	top: 0.001px;
	transform: matrix(1,0,0,1,0,0);
}
#freshmancom_x {
	left: 225.591px;
	top: 120.404px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: fresh_main.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#seniorcom_x {
	left: 1977.591px;
	top: 119.404px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#juniorcom_x {
	left: 1416.591px;
	top: 123.404px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: jm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#sophomorecom_x {
	left: 782.591px;
	top: 123.404px;
	position: absolute;
	overflow: visible;
	width: 465px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#Group_74_x {
	position: absolute;
	width: 667px;
	height: 202px;
	left: 961px;
	top: 2013px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: home_main.html;
	cursor: pointer;
}
#Rectangle_31_x {
	fill: rgba(222,220,220,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31_x {
	position: absolute;
	overflow: visible;
	width: 634px;
	height: 202px;
	left: 33px;
	top: 0px;
}
#Rectangle_30_x {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30_x {
	position: absolute;
	overflow: visible;
	width: 634px;
	height: 141px;
	left: 0px;
	top: 30px;
}
#home_x {
	left: 211px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	color: rgba(112,112,112,1);
}