.mediaViewInfo {
	--web-view-name: senior 2;
	--web-view-id: senior_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: senior_2;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#senior_2 {
	position: absolute;
	width: 2740px;
	height: 2255px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: senior 2;
	--web-view-id: senior_2;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: fit;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
#Path_134_ri {
	fill: rgba(244,220,214,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_134_ri {
	overflow: visible;
	position: absolute;
	width: 2736px;
	height: 2328.818px;
	left: 0px;
	top: -39.018px;
	transform: matrix(1,0,0,1,0,0);
}
#Path_171_rj {
	fill: rgba(199,187,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_171_rj {
	overflow: visible;
	position: absolute;
	width: 2860.241px;
	height: 2328.818px;
	left: 0px;
	top: -73.818px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_73_rk {
	position: absolute;
	width: 2649.762px;
	height: 1869.809px;
	left: 49.408px;
	top: 91.595px;
	overflow: visible;
}
#Rectangle_18_rl {
	fill: rgba(222,220,220,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_18_rl {
	position: absolute;
	overflow: visible;
	width: 2588.729px;
	height: 1869.809px;
	left: 61.033px;
	top: 0px;
}
#Path_168_rm {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 25px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_168_rm {
	overflow: visible;
	position: absolute;
	width: 2593.872px;
	height: 1756.674px;
	left: 0px;
	top: 56.567px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_54_rn {
	position: absolute;
	width: 126px;
	height: 101px;
	left: 55.762px;
	top: 115px;
	overflow: visible;
}
#Rectangle_21_ro {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 4px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_21_ro {
	position: absolute;
	overflow: visible;
	width: 126px;
	height: 101px;
	left: 0px;
	top: 0px;
}
#Group_53_rp {
	position: absolute;
	width: 66.159px;
	height: 80.259px;
	left: 29.92px;
	top: 10.269px;
	overflow: visible;
}
#Line_1_rq {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1_rq {
	overflow: visible;
	position: absolute;
	width: 70.017px;
	height: 83.439px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_2_rr {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2_rr {
	overflow: visible;
	position: absolute;
	width: 70.017px;
	height: 83.439px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_22_rs {
	fill: rgba(215,118,103,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_22_rs {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 546.648px;
	height: 118.793px;
	left: 191.652px;
	top: 115.192px;
}
#Path_170_rt {
	fill: rgba(199,187,112,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_170_rt {
	overflow: visible;
	position: absolute;
	width: 529.677px;
	height: 100.793px;
	left: 1870.161px;
	top: 115.192px;
	transform: matrix(1,0,0,1,0,0);
}
#Rectangle_24_ru {
	fill: rgba(87,146,172,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_24_ru {
	position: absolute;
	overflow: visible;
	width: 528.648px;
	height: 100.793px;
	left: 1310.658px;
	top: 115.192px;
}
#Rectangle_25_rv {
	fill: rgba(82,120,98,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_25_rv {
	position: absolute;
	overflow: visible;
	width: 528.647px;
	height: 100.793px;
	left: 751.155px;
	top: 115.192px;
}
#Rectangle_20_rw {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 7px;
	stroke-linejoin: round;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_20_rw {
	position: absolute;
	overflow: visible;
	width: 2571.245px;
	height: 168.674px;
	left: 2.409px;
	top: 81.251px;
}
#Group_55_rx {
	position: absolute;
	width: 128px;
	height: 26px;
	left: 2431.762px;
	top: 149px;
	overflow: visible;
}
#Ellipse_1_ry {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_ry {
	position: absolute;
	overflow: visible;
	width: 25px;
	height: 26px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_rz {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_rz {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 51px;
	top: 0px;
}
#Ellipse_3_r {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_r {
	position: absolute;
	overflow: visible;
	width: 26px;
	height: 26px;
	left: 102px;
	top: 0px;
}
#Group_64_r {
	position: absolute;
	width: 2274.009px;
	height: 1120.034px;
	left: 159.971px;
	top: 457.078px;
	overflow: visible;
}
#Rectangle_29_r {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_29_r {
	position: absolute;
	overflow: visible;
	width: 2274.009px;
	height: 1120.034px;
	left: 0px;
	top: 0px;
}
#Group_62_r {
	position: absolute;
	width: 320.891px;
	height: 64.795px;
	left: 1830.727px;
	top: 106.963px;
	overflow: visible;
}
#Ellipse_1_r {
	fill: rgba(240,61,61,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1_r {
	position: absolute;
	overflow: visible;
	width: 64.795px;
	height: 64.795px;
	left: 0px;
	top: 0px;
}
#Ellipse_2_r {
	fill: rgba(67,147,51,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_2_r {
	position: absolute;
	overflow: visible;
	width: 61.71px;
	height: 64.795px;
	left: 129.591px;
	top: 0px;
}
#Ellipse_3_sa {
	fill: rgba(227,223,120,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: bevel;
	stroke-linecap: butt;
	stroke-dasharray: 4 0.5;
	stroke-dashoffset: 0;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_3_sa {
	position: absolute;
	overflow: visible;
	width: 64.795px;
	height: 64.795px;
	left: 256.096px;
	top: 0px;
}
#prepare__asks_for_recommendati {
	left: 160.446px;
	top: 171.759px;
	position: absolute;
	overflow: visible;
	width: 1832px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 120px;
	color: rgba(0,0,0,1);
}
#Group_71_r {
	position: absolute;
	width: 104.907px;
	height: 129.591px;
	left: 2450.807px;
	top: 870.109px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: j3.html;
	cursor: pointer;
}
#Group_69_r {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 34.969px;
	top: 0px;
	overflow: visible;
}
#Path_169_sa {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_sa {
	overflow: visible;
	position: absolute;
	width: 73.479px;
	height: 76.456px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_sb {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_sb {
	overflow: visible;
	position: absolute;
	width: 80.219px;
	height: 76.747px;
	left: 0px;
	top: 63.767px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_70_sc {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_169_sd {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_sd {
	overflow: visible;
	position: absolute;
	width: 73.479px;
	height: 76.456px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_se {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_se {
	overflow: visible;
	position: absolute;
	width: 80.219px;
	height: 76.747px;
	left: 0px;
	top: 63.767px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_72_sf {
	transform: translate(-84.237px, -274px) matrix(1,0,0,1,110.7818,1143.2039) rotate(181deg);
	transform-origin: center;
	position: absolute;
	width: 104.907px;
	height: 129.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: senior.html;
	cursor: pointer;
}
#Group_69_sg {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#Path_169_sh {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_sh {
	overflow: visible;
	position: absolute;
	width: 74.803px;
	height: 77.727px;
	left: 7.353px;
	top: 63.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_si {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_si {
	overflow: visible;
	position: absolute;
	width: 81.546px;
	height: 78.135px;
	left: 1.113px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Group_70_sj {
	position: absolute;
	width: 69.938px;
	height: 129.591px;
	left: 34.964px;
	top: 0.61px;
	overflow: visible;
}
#Path_169_sk {
	fill: rgba(0,0,0,0);
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Path_169_sk {
	overflow: visible;
	position: absolute;
	width: 74.803px;
	height: 77.727px;
	left: 7.353px;
	top: 63.563px;
	transform: matrix(1,0,0,1,0,0);
}
#Line_4_sl {
	fill: transparent;
	stroke: rgba(112,112,112,1);
	stroke-width: 15px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_4_sl {
	overflow: visible;
	position: absolute;
	width: 81.546px;
	height: 78.135px;
	left: 1.113px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#freshmancom_sm {
	left: 225.591px;
	top: 120.405px;
	position: absolute;
	overflow: visible;
	width: 436px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: fresh_main.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#seniorcom_sn {
	left: 1977.591px;
	top: 119.405px;
	position: absolute;
	overflow: visible;
	width: 315px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#juniorcom_so {
	left: 1416.591px;
	top: 123.405px;
	position: absolute;
	overflow: visible;
	width: 307px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: jm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#sophomorecom_sp {
	left: 782.591px;
	top: 123.405px;
	position: absolute;
	overflow: visible;
	width: 465px;
	white-space: nowrap;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: sm.html;
	cursor: pointer;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 75px;
	color: rgba(255,255,255,1);
}
#Group_74_sq {
	position: absolute;
	width: 667px;
	height: 202px;
	left: 961px;
	top: 2013px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: home_main.html;
	cursor: pointer;
}
#Rectangle_31_sr {
	fill: rgba(222,220,220,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_31_sr {
	position: absolute;
	overflow: visible;
	width: 634px;
	height: 202px;
	left: 33px;
	top: 0px;
}
#Rectangle_30_ss {
	fill: rgba(241,241,241,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_30_ss {
	position: absolute;
	overflow: visible;
	width: 634px;
	height: 141px;
	left: 0px;
	top: 30px;
}
#home_st {
	left: 211px;
	top: 45px;
	position: absolute;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: center;
	font-family: Ink Free;
	font-style: normal;
	font-weight: normal;
	font-size: 90px;
	color: rgba(112,112,112,1);
}